<div class="sidebar-box">
    <h3 class="heading">Categories</h3>
    <ul class="categories">
        {% for category in categories %}
        <li><a href="/category/{{ category.title }}">{{category.title}} <span>({{ category.post_count }})</span></a></li>
        {% endfor %}
    </ul>
</div>

<div class="sidebar-box">
    <h3 class="heading">Tags</h3>
    <ul class="tags">
        {% for tag in tags %}
        <li><a href="/tags/{{ tag.id }}">{{tag.name}}</a></li>
        {% endfor %}
    </ul>
</div>