{% extends "layouts/app.html" %} {% block title %}{{ post.title }}{% endblock %} {% block content %}

<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('/{{post.thumbnail}}');">
    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="post-entry text-center">
                    <span class="post-category text-white bg-info mb-3">{{post.category|upper}}</span>
                    <h1 class="mb-4"><a href="single.html#">{{post.title}}.</a></h1>
                    <div class="post-meta align-items-center text-center">
                        <figure class="author-figure mb-0 mr-3 d-inline-block"><img src="/static/images/person_1.jpg" alt="Image" class="img-fluid"></figure>
                        <span class="d-inline-block mt-1">By {{post.auther}}</span>
                        <span>&nbsp;-&nbsp; {{post.created_at|date:"M, d, Y"}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="site-section py-lg">
    <div class="container">
        <div class="row blog-entries element-animate">
            <div class="col-md-12 col-lg-8 main-content">
                <div class="post-content-body">
                    {{post.content}}
                </div>
                <div class="pt-5">
                    <p>Category: <a href="single.html#">{{post.category}}</a>, <a href="single.html#">Travel</a> Tags: <a href="single.html#">#manila</a>, <a href="single.html#">#asia</a></p>
                </div>
                <div class="pt-5">
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                    <h3 class="mb-5">{{comments_count}} Comments</h3>
                    <ul class="comment-list">
                        {% for comment in comments %}
                        <li class="comment">
                            <div class="vcard">
                                <img src="/static/images/person_1.jpg" alt="Image placeholder">
                            </div>
                            <div class="comment-body">
                                <h3>{{comment.auther}}</h3>
                                <div class="meta">{{ comment.created_at|date:"F j, Y" }} at {{ comment.created_at|time:"g:ia" }}</div>
                                <p{{comment.content}}
                                </p>
                            </div>
                        </li>
                             {% endfor %}
                    </ul>

                    <div class="comment-form-wrap pt-5">
                        <h3 class="mb-5">Leave a comment</h3>
                        <form method="Post" action="" class="p-5 bg-light">
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea name="comment" id="message" cols="30" rows="50" class="form-control" placeholder="Enter Your Comments here"></textarea>
                            </div>
                            <div class="form-group mt-4">
                                <input type="submit" value="Post Comment" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-4 sidebar">
                <div class="sidebar-box search-form-wrap">
                    <form action="single.html#" class="search-form">
                        <div class="form-group">
                            <span class="icon fa fa-search"></span>
                            <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
                        </div>
                    </form>
                </div>

                <div class="sidebar-box">
                    <div class="bio text-center">
                        <img src="/static/images/person_2.jpg" alt="Image Placeholder" class="img-fluid mb-5">
                        <div class="bio-body">
                            <h2>Craig David</h2>
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem facilis sunt repellendus excepturi beatae porro debitis voluptate nulla quo veniam fuga sit molestias minus.</p>
                            <p><a href="single.html#" class="btn btn-primary btn-sm rounded px-4 py-2">Read my bio</a></p>
                            <p class="social">
                                <a href="single.html#" class="p-2"><span class="fa fa-facebook"></span></a>
                                <a href="single.html#" class="p-2"><span class="fa fa-twitter"></span></a>
                                <a href="single.html#" class="p-2"><span class="fa fa-instagram"></span></a>
                                <a href="single.html#" class="p-2"><span class="fa fa-youtube-play"></span></a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="sidebar-box">
                    <h3 class="heading">Popular Posts</h3>
                    <div class="post-entry-sidebar">
                        <ul>
                            <li>
                                <a href="single.html">
                                    <img src="/static/images/img_1.jpg" alt="Image placeholder" class="mr-4">
                                    <div class="text">
                                        <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                        <div class="post-meta">
                                            <span class="mr-2">March 15, 2018 </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="single.html">
                                    <img src="/static/images/img_2.jpg" alt="Image placeholder" class="mr-4">
                                    <div class="text">
                                        <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                        <div class="post-meta">
                                            <span class="mr-2">March 15, 2018 </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="single.html">
                                    <img src="/static/images/img_3.jpg" alt="Image placeholder" class="mr-4">
                                    <div class="text">
                                        <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                        <div class="post-meta">
                                            <span class="mr-2">March 15, 2018 </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="sidebar-box">
                    <h3 class="heading">Categories</h3>
                    <ul class="categories">
                        {% for category in categories %}
                        <li><a href="/category/{{ category.title }}">{{category.title}} <span>({{ category.post_count }})</span></a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="sidebar-box">
                    <h3 class="heading">Tags</h3>
                    <ul class="tags">
                        <li><a href="single.html#">Travel</a></li>
                        <li><a href="single.html#">Adventure</a></li>
                        <li><a href="single.html#">Food</a></li>
                        <li><a href="single.html#">Lifestyle</a></li>
                        <li><a href="single.html#">Business</a></li>
                        <li><a href="single.html#">Freelancing</a></li>
                        <li><a href="single.html#">Travel</a></li>
                        <li><a href="single.html#">Adventure</a></li>
                        <li><a href="single.html#">Food</a></li>
                        <li><a href="single.html#">Lifestyle</a></li>
                        <li><a href="single.html#">Business</a></li>
                        <li><a href="single.html#">Freelancing</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>


{% include 'includes/subscribe.html' %}

{% endblock %}